.pageTitle__container {
  margin-top: 3.5rem;
  height: 100px;
  background-image: url("../../assets/workbg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
}

.pageTitle__dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.pageTitle__container h2 {
  position: absolute;
  top: 50%; /* Move the child div down by 50% of the parent's height */
  left: 50%; /* Move the child div to the right by 50% of the parent's width */
  transform: translate(
    -50%,
    -50%
  ); /* Adjust the position of the child div to center it exactly */
  color: white;
  z-index: 2;
  text-shadow: -1px -1px 0 var(--color-primary), 1px -1px 0 var(--color-primary),
    -1px 1px 0 var(--color-primary), 1px 1px 0 var(--color-primary);
}

@media (max-width: 1414px) {
  .pageTitle__container {
    height: 80px;
  }
}

@media (max-width: 410px) {
  .pageTitle__container h2 {
    font-size: 18px;
  }
}