.whatWeDo__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 var(--section-horizontal-padding);
}

.whatWeDo__left-container {
  padding: 1rem 2rem;
  flex: 1;
  background-color: white;
  margin: 1rem 1rem 0 1rem;
  border-radius: 10px;
  box-shadow: 0 10px 24px #303030;
}

.whatWeDo__side-image {
  margin: 1rem 2rem;
  flex: 1;
  height: 530px;
  overflow: hidden;
  border-radius: 12px;
}

.whatWeDo__content h3 {
  margin-bottom: 1.5rem;
}

.whatWeDo__content p {
  margin-top: 1rem;
  line-height: 1.5;
}

.whatWeDo__values h3 {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.whatWeDo__side-image img {
  display: block;
  height: 100%;
  object-fit: fill;
  border-radius: 12px;
}

@media (max-width: 1290px) {
  .whatWeDo__container {
    flex-direction: column;
  }
  .whatWeDo__side-image img{
  width: 100%;
  }
}

@media (max-width: 410px) {
  .whatWeDo__left-container {
    padding: 1rem 1rem;
  }

  .whatWeDo__content p{
    font-weight: 400;
    font-size: 15px;
  }

  .whatWeDo__values h3
  .whatWeDo__content h3  {
    font-size: 15px;
  }
}