.quoteContainer__content {
  margin: 4rem 0;
  display: flex;
  justify-content: center;
}

.quoteContainer__mapContacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quoteContainer__form-container {
}

.quoteContainer__vertical-divider{
  width: 100px;
}

@media (max-width: 1110px) {
  .quoteContainer__vertical-divider{
    width: 30px;
  }
}

@media (max-width: 590px) {
  .quoteContainer__content{
    flex-direction: column;
  }

  .quoteContainer__form-container{
    margin-top: 2rem;
  }
}

@media (max-width: 410px) {
  .quoteContainer__content p{
    font-weight: 400;
    font-size: 15px;
  }
}