.quoteContainer__content {
  margin: 4rem var(--section-horizontal-padding);
  display: flex;
  justify-content: center;
}

.quoteContainer__mapContacts-container {
  margin-right: 1rem;
}

.quoteContainer__form-container {
  margin-left: 1rem;
}
