.value__container-header {
  margin-top: 0.5rem;
  display: flex;
  background-color: var(--color-primary);
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

.value__container-header:hover {
  background-color: var(--color-primary-dark);
}

.value__left-content {
  display: flex;
  align-items: center;
}

.value__container-header p {
  color: white;
  margin: 0rem;
  margin-left: 0.5rem;
}

.value__container-content__show {
  opacity: 1;
  transform: scaleY(1);
  padding: 0 1rem;
  transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.value__container-content__hiddent {
  opacity: 0;
  transform: scaleY(0);
  padding: 0 1rem;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.value__left-content img {
  height: 18px;
}
