.value__container {
  margin-top: 0.5rem;
  display: flex;
  background-color: var(--color-primary);
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  padding: 0 0.5rem;
}

.value__left-content {
  display: flex;
}

.value__container p {
  color: white;
  margin: 0rem;
  margin-left: 0.5rem;
}
