.person__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  align-items: center;
  text-align: center;
}

.person__container p {
  font-weight: 500;
}

.person__image {
  height: 300px;
  width: 350px;
  overflow: hidden;
  border-radius: 50px;
  margin-bottom: 1rem;
  align-self: center;
}

.person__image img {
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}

.person__social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.3rem;
}

.person__social-media img {
  height: 25px;
  margin-left: 1rem;
  cursor: pointer;
}

@media (max-width: 410px) {
  .person__container p {
    font-size: 14px;
  }
}

@media (max-width: 1060px) {
  .person__image {
    height: 250px;
    width: 300px;
  }
}

@media (max-width: 670px) {
  .person__container{
   margin-top: 1rem;
  }
}