.footer__container {
  position: relative;
  background-color: var(--color-primary);
  padding: 0 var(--section-horizontal-padding);
}

.footer__first-section {
  display: flex;
  justify-content: space-between;
}

.footer__about-company {
  width: 300px;
  padding: 1rem 0;
  margin-right: 2rem;
}

.footer__about-company h3,
.footer__quicklinks h3 {
  color: white;
}

.footer__about-company div,
.footer__quicklinks div {
  height: 1px;
  width: 100%;
  background-color: wheat;
  margin-top: 0.3rem;
}

.footer__about-company p,
.footer__quicklinks ul {
  color: white;
  margin-top: 0;
  line-height: 1.5;
}

.footer__quicklinks ul {
  margin-right: 2rem;
}

.footer__quicklinks {
  width: 300px;
  margin-left: 2rem;
  padding: 1rem 0;
}

.footer__quicklinks ul li {
  margin-top: 0.5rem;
  cursor: pointer;
}

.footer__contacts {
  width: 300px;
  padding: 1rem 0;
}

.footer__social-media {
  display: flex;
  justify-content: center;
}

.footer__social-media img {
  height: 25px;
  margin-left: 1rem;
  cursor: pointer;
}

.footer__contacts-info {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
  margin-top: 1rem;
  background-color: var(--color-primary-dark);
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  padding-left: 3rem;
  padding-right: 1.5rem;
  align-items: flex-start;
  justify-content: center;
}

.footer__contacts-info div {
  display: flex;
  margin-bottom: 0.2rem;
}

.footer__contacts-info div img {
  height: 16px;
  margin-right: 1rem;
}

.footer__contacts-info div p {
  color: white;
  font-size: 14px;
}

.footer__second-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: space-between;
}

.footer__copyright-text {
  margin-right: 3rem;
}

.footer__second-section p {
  color: white;
}

.footer__second-section div {
  display: flex;
  flex-wrap: wrap;
}

.footer__second-section div p {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3rem;
  color: white;
  margin-bottom: 0.5rem;
}

.footer__QR-code__container {
  position: absolute;
  bottom: 318px;
  right: 180px;
  z-index: 99;
  height: 450px;
}

.footer__QR-code__container img {
  border-radius: 20px;
  height: 100%;
}

@media (max-width: 1414px) {
  .serviceCard__container {
    margin-right: 1rem;
    width: 260px;
  }

  .serviceCard__title img {
    margin-right: 1rem;
  }
}

@media (max-width: 1250px) {
  .footer__QR-code__container {
    right: 110px;
    height: 400px;
  }
}

@media (max-width: 1059px) {
  .footer__QR-code__container {
    bottom: 348px;
  }
}

@media (max-width: 1050px) {
  .footer__QR-code__container {
    bottom: 320px;
    left: 130px;
  }

  .footer__first-section {
    flex-direction: column;
  }

  .footer__about-company {
    width: 100%;
  }

  .footer__quicklinks ul {
    display: flex;
  }

  .footer__quicklinks ul li {
    margin-left: 1.2rem;
    padding-right: 3rem;
  }

  .footer__quicklinks {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 995px) {
  .footer__QR-code__container {
    bottom: 380px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 650px) {
  .footer__QR-code__container {
    bottom: 380px;
    left: 1;
  }
}

@media (max-width: 430px) {
  .footer__QR-code__container {
    bottom: 400px;
    left: 1;
  }
}

@media (max-width: 626px) {
  .footer__second-section div p {
    margin-left: 0;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 560px) {
  .footer__quicklinks ul li {
    padding-right: 1rem;
  }
}

@media (max-width: 440px) {
  .footer__quicklinks ul {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 410px) {
  .footer__second-section p .footer__second-section div p {
    font-weight: 400;
    font-size: 15px;
  }

  .footer__about-company h3,
  .footer__quicklinks h3 {
    font-size: 15px;
    max-width: 75px;
  }
}
